<div id="notfound">
		<div class="notfound">
			<div class="notfound-bg">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1>Detalle</h1>
            <br>
            <br>
            <br>
            <br>
			<h2>Argumentos: <p>{{this.args}}</p></h2>
			<h2>Plataforma: {{this.plataforma}}</h2>
			<h2>Cant. Procesadores: {{this.cpus}}</h2>
			<h2>Version: {{this.version}}</h2>
			<h2>Uso de memoria: <p>{{this.memory}}</p></h2>
			<h2>Path de ejecucion: <p>{{this.path}}</p></h2>
			<h2>Process ID: {{this.proceso}}</h2>
			<h2>Carpeta Actual: <p>{{this.carpeta}}</p></h2>
			<br>
			<a href="#" id="back">go back</a>
			<div class="notfound-social">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-twitter"></i></a>
				<a href="#" class="social"><i class="fab fa-gitlab"></i></a>
				<a href="#" class="social"><i class="fab fa-odnoklassniki"></i></a>
			</div>
		</div>
</div>